@model Projekt.Models.Klient

@{
    ViewBag.Title = "Szczegóły klienta";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Szczegóły klienta</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Imię</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Imie)</dd>

                <dt class="col-sm-3">Nazwisko</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nazwisko)</dd>

                <dt class="col-sm-3">Adres e-mail</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-3">Telefon</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Telefon)</dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            @Html.ActionLink("✏️ Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning me-2" })
            @Html.ActionLink("⬅️ Powrót do listy", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
