@model Projekt.Models.Leczenie

@{
    ViewBag.Title = "Edycja leczenia";
}

<h2 class="text-center text-primary mb-4">Edytuj leczenie</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card shadow-sm p-4 bg-light">
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Opis, "Opis leczenia")
                @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Lek, "Lek")
                @Html.EditorFor(model => model.Lek, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lek, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Koszt, "Koszt")
                @Html.EditorFor(model => model.Koszt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Koszt, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WizytaId, "Wizyta")
                @Html.DropDownList("WizytaId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WizytaId, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
            @Html.ActionLink("Anuluj", "Index", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
