@model Projekt.Models.Zwierze

@{
    ViewBag.Title = "Edycja zwierzęcia";
}

<h2 class="text-center text-primary mb-4">Edytuj zwierzę</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card shadow-sm p-4 bg-light">
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Imie, "Imię zwierzęcia")
                @Html.EditorFor(model => model.Imie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Imie, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gatunek, "Gatunek")
                @Html.EditorFor(model => model.Gatunek, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gatunek, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rasa, "Rasa")
                @Html.EditorFor(model => model.Rasa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rasa, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DataUrodzenia, "Data urodzenia")
                @Html.EditorFor(model => model.DataUrodzenia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataUrodzenia, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.Label("Właściciel")
                @Html.DropDownList("KlientId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KlientId, "", new { @class = "text-danger" })
            </div>

            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
            @Html.ActionLink("Anuluj", "Index", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
